asgiref==3.7.2
channels==4.0.0
colorama==0.4.6
dj-database-url==2.0.0
Django==4.2.1
django-environ==0.10.0
django-heroku==0.3.1
environ==1.0
gunicorn==20.1.0
numpy==1.24.3
opencv-python==4.7.0.72
Pillow==9.5.0
psycopg2==2.9.6
psycopg2-binary==2.9.6
pypng==0.20220715.0
python-decouple==3.8
pyzbar==0.1.9
qrcode==7.4.2
sqlparse==0.4.4
typing_extensions==4.6.2
tzdata==2023.3
whitenoise==6.4.0
