
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Étudiant non trouvé</title>
</head>
<body>
    <h1>Étudiant non trouvé</h1>
    <p>Aucun étudiant n'a été trouvé avec l'adresse e-mail fournie.</p>

    <!-- Vous pouvez ajouter un bouton pour revenir à la page précédente ou à une autre page appropriée -->
    <a href="{% url 'accueil' %}">Retour</a>
</body>
</html>